/* TODO: implement dark mode with context */
/* dark/light mode themes */
.dark{
    background-color: #082032;
    color: #EEEEEE;
    .meta {
        background-color: #F4F9F9;
        color: #555555;
    }
}

.light{
    background-color: #F4F9F9;
    color: #555555;
    .meta {
        background-color: #082032;
        color: #EEEEEE;
        a {
            color: #EEEEEE;
        }
    }
}


/* general */
img {
    max-width: 100%;
    max-height: 100%;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.row.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row.wrapper > * {
    margin-right: 20px;
}

body {
    margin: 0px;
    padding: 0px;
}

/* App.js */
#App {
    width: 100vw;
    display:block;
    height: 100%;
}

/* Header.js */
#Header {
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: center;
}

/* Main.js */
#Main {
    height: 600px; /* temp fix */
    padding: 15px;
}

/* MenuItem.js */
#MenuItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    button {
        cursor: pointer;
    }
    .left {
        
    }
    .right {
        justify-content: center;
        margin-left: 50px;
        * {
            width: 150px;
        }
    }
}

/* NavBar.js */
#NavBar {
    margin-top: auto;
    padding: 15px;
    button {
        cursor: pointer;
    }
}

#ViewOrder {
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    z-index: 2;
    background: #808080;
}

/* Footer.js */
#Footer {
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
}